## 复制剪切板内容生成表

In [1]:
import pandas as pd
df=pd.read_clipboard()


## 性别	身高（英尺）	体重（磅）	脚掌（英寸）
## 男	6	180	12
## 男	5.92	190	11
## 男	5.58	170	12
## 男	5.92	165	10
## 女	5	100	6
## 女	5.5	150	8
## 女	5.42	130	7
## 女	5.75	150	9

In [2]:
df[:8].to_numpy()

array([['是', '是', '正常', '否', nan],
       ['是', '是', '高', '是', nan],
       ['是', '是', '很高', '是', nan],
       ['否', '是', '正常', '否', nan],
       ['否', '否', '高', '否', nan],
       ['否', '是', '很高', '是', nan],
       ['作者：思想永不平凡', None, None, None, nan],
       ['链接：https://www.jianshu.com/p/a129b7a6be9e', None, None, None,
        nan]], dtype=object)

fn = lambda x: x.max() - x.min()
df['身高（英尺) '].apply(fn)

In [3]:
regex = (r'(?P<city>[A-Za-z ]+)',       # 一个或更多字母
          r'(?P<state>[A-Z]{2})',         # 两个大写字母
          r'(?P<zip>\d{5}(?:-\d{4})?)')  # 可选的4个延伸数字
df.性别.str.replace('女', 'n')#.str.extract(regex)

AttributeError: 'DataFrame' object has no attribute '性别'

# 2. copy()
Copy()函数用于创建Pandas对象的副本。将数据帧分配给另一个数据帧时，在另一个数据帧中进行更改，其值也会进行同步更改。为了避免出现上述问题，可以使用copy()函数。

In [4]:
data = pd.Series(['India', 'Pakistan', 'China', 'Mongolia'])# Assigning issuethat we face
data1= data
# Change a value
data1[0]='USA'
# Also changes value in old dataframe
data# To prevent that, we use
# creating copy of series
new = data.copy()# assigning new values
new[1]='Changed value'# printing data
print(new)
print(data)

0              USA
1    Changed value
2            China
3         Mongolia
dtype: object
0         USA
1    Pakistan
2       China
3    Mongolia
dtype: object

# read_csv(nrows=n)
### read-csv函数的重要性。但即使不必要，大多数人仍会错误地读取整个.csv文件。假设未知10GB的.csv文件中的列和数据，在这种情况下读取整个.csv文件并非明智的决定，因为这会浪费内存和时间。可以仅从.csv中导入几行，然后根据需要继续操作。

import io
import requests# I am using this online data set just to make things easier foryou guys
url = "https://raw.github.com/vincentarelbundock/Rdatasets/master/csv/datasets/AirPassengers.csv"
s = requests.get(url).content# read only first 10 rows
df = pd.read_csv(io.StringIO(s.decode('utf-8')),nrows=10 , index_col=0)

In [5]:
pd.read_csv("/Users/manmanzhang/Library/Mobile Documents/com~apple~CloudDocs/MyProject/InferenceSystem/src/I5_algorithm/数据库文件/sh.csv",nrows=10,index_col=0)

,code,open,close,high,low,vol,amount,p_change
datetime,,,,,,,,
2010-01-04,10,7799.257,7666.877,7811.907,7666.407,480382.0,6.510389e+10,NaN
2010-01-05,10,7694.477,7748.257,7780.547,7591.417,613716.0,8.782037e+10,1.06
2010-01-06,10,7734.407,7685.767,7789.927,7684.167,544951.0,7.944561e+10,-0.81
2010-01-07,10,7689.377,7534.627,7725.077,7495.657,568319.0,7.937871e+10,-1.97
2010-01-08,10,7503.787,7552.987,7559.827,7441.037,434238.0,6.105645e+10,0.24
2010-01-11,10,7835.967,7573.997,7835.967,7539.477,669260.0,9.610614e+10,0.28
2010-01-12,10,7557.537,7678.757,7682.587,7468.637,678369.0,9.134460e+10,1.38
2010-01-13,10,7490.007,7404.477,7566.667,7394.137,831560.0,1.108247e+11,-3.57
2010-01-14,10,7437.367,7500.607,7505.837,7380.287,578078.0,7.733353e+10,1.30
2010-01-15,10,7504.167,7524.857,7569.007,7452.537,505090.0,6.910635e+10,0.32

# 4. map()

# map()函数用于根据输入对应关系映射Series的值。用于将序列(Series)中的每个值替换为另一个值，该值可以从函数、字典或序列(Series)中得出。

In [6]:
import numpy as np
dframe = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['India', 'USA', 'China', 'Russia'])#compute a formatted string from eachfloating point value in frame
changefn = lambda x: '%.2f' % x# Make changes element-wise
dframe['d'].map(changefn)

India      0.60
USA       -0.83
China     -0.03
Russia     0.56
Name: d, dtype: object

# select_dtypes()
select_dtypes()函数基于dtypes列返回数据框的列的子集。设置此函数的参数，以包括具有某些特定数据类型的所有列；也可对其进行设置，以排除具有某些特定数据类型的所有列。

In [7]:
framex = df.select_dtypes(include="float64")
framex

   流感
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN
5 NaN
6 NaN
7 NaN
8 NaN
9 NaN

# pivot_table 数据透视表
如果你纠结于是否使用groupby，并想扩展其功能，那么不妨试试pivot-table。如果明白数据透视表在excel中的工作原理，那么一切就非常简单了。数据透视表中的级别将存贮在MultiIndex对象（分层索引）中，而该对象位于DataFrame结果的索引和列上。

In [8]:
school = pd.DataFrame({'A': ['Jay', 'Usher', 'Nicky', 'Romero', 'Will'],
      'B': ['Masters', 'Graduate','Graduate', 'Masters', 'Graduate'],
      'C': [26, 22, 20, 23, 24]})
print(school)
table = pd.pivot_table(school, values ='A', index =['B', 'C'],
                         columns =['B'], aggfunc = np.sum,fill_value="Not Available")
 
table

A         B   C
0     Jay   Masters  26
1   Usher  Graduate  22
2   Nicky  Graduate  20
3  Romero   Masters  23
4    Will  Graduate  24

B                 Graduate        Masters
B        C
Graduate 20          Nicky  Not Available
         22          Usher  Not Available
         24           Will  Not Available
Masters  23  Not Available         Romero
         26  Not Available            Jay

In [9]:
filter1 = df["value"].isin([112])
filter2 = df["time"].isin([1949.000000])
[filter1 & filter2]

KeyError: 'value'