In [22]:
import baostock as bs
import pandas as pd
import datetime

# 证券宝（网址www.baostock.com）是一个免费、开源的证券数据平台，最重要的是：无需注册。
pip install baostock
或使用国内源安装：
pip install baostock -i https://pypi.tuna.tsinghua.edu.cn/simple/ --trusted-host pypi.tuna.tsinghua.edu.cn

## 获取指定股票历史数据

In [23]:
code = "sz.002484" #查询的股票代码
datestart = '2019-07-01' #开始时间
datetoday = datetime.datetime.today().strftime("%Y-%m-%d")

In [24]:
datetoday

'2020-04-16'

In [25]:
ShowList ="date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST"
ShowList

'date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST'

## 获取记录，将记录合并在一起

In [26]:
def ListToDf(rs):
    data_list = []
    while (rs.error_code == '0') & rs.next():
        data_list.append(rs.get_row_data())
        result = pd.DataFrame(data_list, columns=rs.fields)
    return result

## 登陆系统

In [27]:
lg = bs.login()

print('login respond error_msg:'+lg.error_msg)

login success!
login respond error_msg:success

In [28]:
rs = bs.query_history_k_data_plus(code,ShowList,start_date=datestart, end_date=datetoday,frequency="d", adjustflag="3")

In [29]:
result = ListToDf(rs)

## 获取沪深A股历史K线数据

In [30]:
result

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.1900,6.2800,6.1400,6.2700,6.0600,16357932,101227590.5600,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.2700,6.2900,6.1900,6.2300,6.2700,10547447,65769623.2000,3,1.381194,1,-0.637958,0
2,2019-07-03,sz.002484,6.2200,6.2200,6.0800,6.1000,6.2300,6266504,38354919.9600,3,0.820602,1,-2.086679,0
3,2019-07-04,sz.002484,6.1100,6.1400,6.0600,6.0800,6.1000,3610427,22015399.2900,3,0.472787,1,-0.327869,0
4,2019-07-05,sz.002484,6.0900,6.3800,6.0500,6.1700,6.0800,8952717,55309059.7200,3,1.172363,1,1.480266,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,2020-04-10,sz.002484,8.8700,9.2800,8.6500,8.9300,8.8000,24176109,216147630.7700,3,3.158100,1,1.477300,0
191,2020-04-13,sz.002484,8.8000,8.8000,8.4300,8.5300,8.9300,15172049,130082054.2700,3,1.981900,1,-4.479300,0
192,2020-04-14,sz.002484,8.6500,8.8800,8.6500,8.8800,8.5300,13085732,114743374.1500,3,1.709300,1,4.103200,0
193,2020-04-15,sz.002484,8.8900,9.2600,8.8300,9.0300,8.8800,19425910,176078977.8000,3,2.537500,1,1.689200,0
194,2020-04-16,sz.002484,8.9500,9.1200,8.8300,9.0200,9.0300,13838813,124492089.9700,3,1.807700,1,-0.110700,0

In [31]:
print('query_history_k_data_plus respond error_msg:'+rs.error_msg)

query_history_k_data_plus respond error_msg:success

## 结果集输出到csv文件

In [34]:
result.to_csv('history_A_stock_k_' + code + '.csv', index=False)

In [35]:
pd.read_csv('history_A_stock_k_' + code + '.csv')

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0
2,2019-07-03,sz.002484,6.22,6.22,6.08,6.10,6.23,6266504,3.835492e+07,3,0.820602,1,-2.086679,0
3,2019-07-04,sz.002484,6.11,6.14,6.06,6.08,6.10,3610427,2.201540e+07,3,0.472787,1,-0.327869,0
4,2019-07-05,sz.002484,6.09,6.38,6.05,6.17,6.08,8952717,5.530906e+07,3,1.172363,1,1.480266,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,2020-04-10,sz.002484,8.87,9.28,8.65,8.93,8.80,24176109,2.161476e+08,3,3.158100,1,1.477300,0
191,2020-04-13,sz.002484,8.80,8.80,8.43,8.53,8.93,15172049,1.300821e+08,3,1.981900,1,-4.479300,0
192,2020-04-14,sz.002484,8.65,8.88,8.65,8.88,8.53,13085732,1.147434e+08,3,1.709300,1,4.103200,0
193,2020-04-15,sz.002484,8.89,9.26,8.83,9.03,8.88,19425910,1.760790e+08,3,2.537500,1,1.689200,0
194,2020-04-16,sz.002484,8.95,9.12,8.83,9.02,9.03,13838813,1.244921e+08,3,1.807700,1,-0.110700,0

In [36]:
bs.logout()

logout success!