In [304]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [305]:
df = pd.read_csv('history_A_stock_k_sz.002484.csv')
df.head(2)

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0

### 字符串提取07月数据

In [306]:
dfstr_contains = df[df.date.str.contains('-07-')][0:10]
dfstr_contains.head(2)

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0

### 查看列名

In [307]:
df.columns

Index(['date', 'code', 'open', 'high', 'low', 'close', 'preclose', 'volume',
       'amount', 'adjustflag', 'turn', 'tradestatus', 'pctChg', 'isST'],
      dtype='object')

### 修改列名date为日期

In [308]:
df.rename(columns={'date':'日期'},inplace=True)
df.head(2)

,日期,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0

### 字符统计

In [309]:
df['adjustflag'].value_counts

<bound method IndexOpsMixin.value_counts of 0      3
1      3
2      3
3      3
4      3
      ..
190    3
191    3
192    3
193    3
194    3
Name: adjustflag, Length: 195, dtype: int64>

### 缺失值处理(将空值用上下值的平均值填充)

In [310]:
df['adjustflag'] = df['adjustflag'].fillna(df['adjustflag'].interpolate())

### 提取大于3的值

In [311]:
dfamount=df[df.amount>3]
dfamount.head(2)

,日期,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0

### 按列进行去重

In [312]:
dfdrop = df.drop_duplicates(['日期'])
dfdrop.head(2)

,日期,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0

### 平均值

In [313]:
df.mean()

open           7.464974e+00
high           7.644103e+00
low            7.325795e+00
close          7.492974e+00
preclose       7.477795e+00
volume         1.636751e+07
amount         1.349782e+08
adjustflag     3.000000e+00
turn           2.142974e+00
tradestatus    1.000000e+00
pctChg         2.511292e-01
isST           0.000000e+00
dtype: float64

### open列均值

In [314]:
df['open'].mean()

7.464974358974359

### 计数

In [315]:
df['open'].count()

195

### 求和

In [316]:
df['open'].sum()

1455.67

### 平均绝对方差

In [317]:
df['open'].mad()

0.9904299802761344

### 方差

In [318]:
df.var()

open           1.514540e+00
high           1.706726e+00
low            1.355253e+00
close          1.536890e+00
preclose       1.535223e+00
volume         1.872347e+14
amount         2.092942e+16
adjustflag     0.000000e+00
turn           3.210741e+00
tradestatus    0.000000e+00
pctChg         9.372311e+00
isST           0.000000e+00
dtype: float64

### 中位数

In [319]:
df['open'].median()

7.1

### 最大值

In [320]:
df['open'].max()

11.8

### 最小值

In [321]:
df['open'].min()

5.62

### 能够获取到的最小值索引

In [322]:
df['open'].argmin()

28

### 弄够获到的最大值索引

In [323]:
df['open'].idxmax()

159

### 每列最小值索引

In [324]:
df.idxmin

<bound method DataFrame.idxmin of              日期       code  open  high   low  close  preclose    volume  \
0    2019-07-01  sz.002484  6.19  6.28  6.14   6.27      6.06  16357932
1    2019-07-02  sz.002484  6.27  6.29  6.19   6.23      6.27  10547447
2    2019-07-03  sz.002484  6.22  6.22  6.08   6.10      6.23   6266504
3    2019-07-04  sz.002484  6.11  6.14  6.06   6.08      6.10   3610427
4    2019-07-05  sz.002484  6.09  6.38  6.05   6.17      6.08   8952717
..          ...        ...   ...   ...   ...    ...       ...       ...
190  2020-04-10  sz.002484  8.87  9.28  8.65   8.93      8.80  24176109
191  2020-04-13  sz.002484  8.80  8.80  8.43   8.53      8.93  15172049
192  2020-04-14  sz.002484  8.65  8.88  8.65   8.88      8.53  13085732
193  2020-04-15  sz.002484  8.89  9.26  8.83   9.03      8.88  19425910
194  2020-04-16  sz.002484  8.95  9.12  8.83   9.02      9.03  13838813

           amount  adjustflag      turn  tradestatus    pctChg  isST
0    1.012276e+08           3  2.142080            1  3.465347     0
1    6.576962e+07           3  1.381194            1 -0.637958     0
2    3.835492e+07           3  0.820602            1 -2.086679     0
3    2.201540e+07           3  0.472787            1 -0.327869     0
4    5.530906e+07           3  1.172363            1  1.480266     0
..            ...         ...       ...          ...       ...   ...
190  2.161476e+08           3  3.158100            1  1.477300     0
191  1.300821e+08           3  1.981900            1 -4.479300     0
192  1.147434e+08           3  1.709300            1  4.103200     0
193  1.760790e+08           3  2.537500            1  1.689200     0
194  1.244921e+08           3  1.807700            1 -0.110700     0

[195 rows x 14 columns]>

### 每列最大值索引

In [325]:
df.idxmax

<bound method DataFrame.idxmax of              日期       code  open  high   low  close  preclose    volume  \
0    2019-07-01  sz.002484  6.19  6.28  6.14   6.27      6.06  16357932
1    2019-07-02  sz.002484  6.27  6.29  6.19   6.23      6.27  10547447
2    2019-07-03  sz.002484  6.22  6.22  6.08   6.10      6.23   6266504
3    2019-07-04  sz.002484  6.11  6.14  6.06   6.08      6.10   3610427
4    2019-07-05  sz.002484  6.09  6.38  6.05   6.17      6.08   8952717
..          ...        ...   ...   ...   ...    ...       ...       ...
190  2020-04-10  sz.002484  8.87  9.28  8.65   8.93      8.80  24176109
191  2020-04-13  sz.002484  8.80  8.80  8.43   8.53      8.93  15172049
192  2020-04-14  sz.002484  8.65  8.88  8.65   8.88      8.53  13085732
193  2020-04-15  sz.002484  8.89  9.26  8.83   9.03      8.88  19425910
194  2020-04-16  sz.002484  8.95  9.12  8.83   9.02      9.03  13838813

           amount  adjustflag      turn  tradestatus    pctChg  isST
0    1.012276e+08           3  2.142080            1  3.465347     0
1    6.576962e+07           3  1.381194            1 -0.637958     0
2    3.835492e+07           3  0.820602            1 -2.086679     0
3    2.201540e+07           3  0.472787            1 -0.327869     0
4    5.530906e+07           3  1.172363            1  1.480266     0
..            ...         ...       ...          ...       ...   ...
190  2.161476e+08           3  3.158100            1  1.477300     0
191  1.300821e+08           3  1.981900            1 -4.479300     0
192  1.147434e+08           3  1.709300            1  4.103200     0
193  1.760790e+08           3  2.537500            1  1.689200     0
194  1.244921e+08           3  1.807700            1 -0.110700     0

[195 rows x 14 columns]>

### 众数

In [326]:
df['open'].mode()

0    6.70
1    6.76
2    6.86
dtype: float64

### 标准差

In [327]:
df.std()

open           1.230666e+00
high           1.306417e+00
low            1.164153e+00
close          1.239714e+00
preclose       1.239041e+00
volume         1.368337e+07
amount         1.446700e+08
adjustflag     0.000000e+00
turn           1.791854e+00
tradestatus    0.000000e+00
pctChg         3.061423e+00
isST           0.000000e+00
dtype: float64

### 均方误差

In [328]:
np.power(df['open']-df['open'].mean(),2)

0      1.625560
1      1.427964
2      1.549961
3      1.835956
4      1.890554
         ...
190    1.974097
191    1.782293
192    1.404286
193    2.030698
194    2.205301
Name: open, Length: 195, dtype: float64

### 标准误

In [329]:
df.sem()

open           8.812984e-02
high           9.355449e-02
low            8.336676e-02
close          8.877774e-02
preclose       8.872959e-02
volume         9.798867e+05
amount         1.036004e+07
adjustflag     0.000000e+00
turn           1.283173e-01
tradestatus    0.000000e+00
pctChg         2.192331e-01
isST           0.000000e+00
dtype: float64

### 偏峰度

In [330]:
df.skew()

open           0.939653
high           0.989638
low            0.813814
close          0.916476
preclose       0.937299
volume         2.426108
amount         3.191337
adjustflag     0.000000
turn           2.426638
tradestatus    0.000000
pctChg        -0.365956
isST           0.000000
dtype: float64

### 分位数(0.3分位)

In [331]:
df.quantile(0.3)

open           6.760000e+00
high           6.922000e+00
low            6.672000e+00
close          6.784000e+00
preclose       6.772000e+00
volume         8.245704e+06
amount         5.615325e+07
adjustflag     3.000000e+00
turn           1.079800e+00
tradestatus    1.000000e+00
pctChg        -8.217978e-01
isST           0.000000e+00
Name: 0.3, dtype: float64

### 累加

In [332]:
df['open'].cumsum()

0         6.19
1        12.46
2        18.68
3        24.79
4        30.88
        ...
190    1420.38
191    1429.18
192    1437.83
193    1446.72
194    1455.67
Name: open, Length: 195, dtype: float64

### 累乘法

In [333]:
df['open'].cumprod()

0       6.190000e+00
1       3.881130e+01
2       2.414063e+02
3       1.474992e+03
4       8.982704e+03
           ...
190    2.437888e+165
191    2.145341e+166
192    1.855720e+167
193    1.649735e+168
194    1.476513e+169
Name: open, Length: 195, dtype: float64

### 累计最大值

In [334]:
df['open'].cummax()

0       6.19
1       6.27
2       6.27
3       6.27
4       6.27
       ...
190    11.80
191    11.80
192    11.80
193    11.80
194    11.80
Name: open, Length: 195, dtype: float64

### 累计最小值

In [335]:
df['open'].cummin()

0      6.19
1      6.19
2      6.19
3      6.11
4      6.09
       ...
190    5.62
191    5.62
192    5.62
193    5.62
194    5.62
Name: open, Length: 195, dtype: float64

### 协方差矩阵

In [336]:
df[['turn','open','high']].cov()

          turn      open      high
turn  3.210741  1.560767  1.790040
open  1.560767  1.514540  1.589599
high  1.790040  1.589599  1.706726

### 相关系数

### spearman：非线性的，非正太分析的数据的相关系数

In [337]:
df[['turn','open','high']].corr(method='spearman')

          turn      open      high
turn  1.000000  0.684100  0.757201
open  0.684100  1.000000  0.985015
high  0.757201  0.985015  1.000000

### kendall：用于反映分类变量相关性的指标，即针对无序序列的相关系数，非正太分布的数据

In [338]:
df[['turn','open','high']].corr(method='kendall')

          turn      open      high
turn  1.000000  0.516301  0.581112
open  0.516301  1.000000  0.910610
high  0.581112  0.910610  1.000000

### pearson：Pearson相关系数来衡量两个数据集合是否在一条线上面，即针对线性数据的相关系数计算，针对非线性数据便会有误差。

In [339]:
df[['turn','open','high']].corr(method='pearson')

          turn      open      high
turn  1.000000  0.707775  0.764677
open  0.707775  1.000000  0.988702
high  0.764677  0.988702  1.000000

In [340]:
df['turn'].rank()

0      130.0
1       81.0
2       36.0
3        7.0
4       64.0
       ...
190    161.0
191    121.0
192    101.0
193    142.0
194    112.0
Name: turn, Length: 195, dtype: float64

### DataFrame转字典

In [341]:
df.head().to_dict()

{'日期': {0: '2019-07-01',
  1: '2019-07-02',
  2: '2019-07-03',
  3: '2019-07-04',
  4: '2019-07-05'},
 'code': {0: 'sz.002484',
  1: 'sz.002484',
  2: 'sz.002484',
  3: 'sz.002484',
  4: 'sz.002484'},
 'open': {0: 6.19, 1: 6.27, 2: 6.22, 3: 6.11, 4: 6.09},
 'high': {0: 6.28, 1: 6.29, 2: 6.22, 3: 6.14, 4: 6.38},
 'low': {0: 6.14, 1: 6.19, 2: 6.08, 3: 6.06, 4: 6.05},
 'close': {0: 6.27, 1: 6.23, 2: 6.1, 3: 6.08, 4: 6.17},
 'preclose': {0: 6.06, 1: 6.27, 2: 6.23, 3: 6.1, 4: 6.08},
 'volume': {0: 16357932, 1: 10547447, 2: 6266504, 3: 3610427, 4: 8952717},
 'amount': {0: 101227590.56,
  1: 65769623.2,
  2: 38354919.96,
  3: 22015399.29,
  4: 55309059.72},
 'adjustflag': {0: 3, 1: 3, 2: 3, 3: 3, 4: 3},
 'turn': {0: 2.14208,
  1: 1.381194,
  2: 0.820602,
  3: 0.472787,
  4: 1.1723629999999998},
 'tradestatus': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1},
 'pctChg': {0: 3.465347,
  1: -0.637958,
  2: -2.086679,
  3: -0.327869,
  4: 1.480266},
 'isST': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0}}

### 列转list

In [342]:
df.open.head(3).to_list()

[6.19, 6.27, 6.22]

### 查看行列

In [343]:
df.shape

(195, 14)

### 拼接提取

In [344]:
df[(df.open > 6) & (df.open < 10)].head(3)

,日期,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,2019-07-01,sz.002484,6.19,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,2019-07-02,sz.002484,6.27,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0
2,2019-07-03,sz.002484,6.22,6.22,6.08,6.10,6.23,6266504,3.835492e+07,3,0.820602,1,-2.086679,0

### 交换列位置

### 只有两列

In [345]:
clos = df.columns[[1,0]]
df[clos].head(2)

        code          日期
0  sz.002484  2019-07-01
1  sz.002484  2019-07-02

### 整体调整

In [346]:
temp = df.open
df.drop(labels=['open'],axis=1,inplace=True)
df.insert(0,'open',temp)
df.head(2)

,open,日期,code,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,6.19,2019-07-01,sz.002484,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,6.27,2019-07-02,sz.002484,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0

### 查看末尾数据

In [347]:
df.tail(3)

,open,日期,code,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
192,8.65,2020-04-14,sz.002484,8.88,8.65,8.88,8.53,13085732,1.147434e+08,3,1.7093,1,4.1032,0
193,8.89,2020-04-15,sz.002484,9.26,8.83,9.03,8.88,19425910,1.760790e+08,3,2.5375,1,1.6892,0
194,8.95,2020-04-16,sz.002484,9.12,8.83,9.02,9.03,13838813,1.244921e+08,3,1.8077,1,-0.1107,0

### 删除某行数据

In [348]:
df.drop([len(df)-1],inplace=True)
df.shape

(194, 14)

### 追加一行数据

In [349]:
element_for_row = df[1:2].to_dict()
row = {k:list(v.values())[0] for k,v in element_for_row.items()}
#追加
df.append(row,ignore_index=True).head(3)

,open,日期,code,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,isST
0,6.19,2019-07-01,sz.002484,6.28,6.14,6.27,6.06,16357932,1.012276e+08,3,2.142080,1,3.465347,0
1,6.27,2019-07-02,sz.002484,6.29,6.19,6.23,6.27,10547447,6.576962e+07,3,1.381194,1,-0.637958,0
2,6.22,2019-07-03,sz.002484,6.22,6.08,6.10,6.23,6266504,3.835492e+07,3,0.820602,1,-2.086679,0