In [1]:
import numpy as np
import pandas as pd 
from itertools import permutations,product,combinations_with_replacement

In [2]:
def demo_of_causal_y(x=np.random.choice([0,1]),uy=np.random.choice([0,1])):
    '''
    y是内生变量
    x,uy是外生变量
    '''
    if x == uy:
        y = 1 
    else:
        y = 0
    return y

def create_data(m):
    dock = []
    for i in range(m):
        x,uy = np.random.choice([0,1]),np.random.choice([0,1])
        y = demo_of_causal_y(x,uy)
        dock.append([x,uy,y])
    return pd.DataFrame(dock,columns=['x','uy','y'])
    
test_data = create_data(10)
test_data

   x  uy  y
0  0   1  0
1  0   0  1
2  1   1  1
3  1   1  1
4  1   1  1
5  1   1  1
6  0   0  1
7  0   0  1
8  0   0  1
9  1   0  0

In [3]:
test_data = test_data.to_numpy()

In [31]:
def prob(data,e,dims=[0]):
    m,n = data.shape
    init_ones = np.ones(m)
    return ((np.array([(data[:,i]==e) for i in dims]).T).sum(axis=1)==len(dims)).dot(init_ones)/m 
prob(test_data,0)

0.8

In [4]:
def prob_mat(data):
    leve1,leve2 = [],[]
    m,n = data.shape
    init_ones_m = np.ones(m)
    for i in range(n):
        column = data[:,i]
        unique , counter = np.unique(column,return_counts=True)
        for j in unique:
            prob_ = (column==j).dot(init_ones_m)/m
            leve2.append(prob_)
        leve1.append(leve2)
        leve2 = []
    return pd.DataFrame(np.array(leve1).T,columns=['x','uy','y'])
    
df= prob_mat(test_data)
df

     x   uy    y
0  0.5  0.5  0.2
1  0.5  0.5  0.8