In [1]:
import numpy as np
import pandas as pd

In [5]:
filepath = '/Users/manmanzhang/Downloads/adult.data'
data = open(filepath,'r').readlines()

In [8]:
df=pd.read_csv(filepath)

In [20]:
{name:len(set(df[name])) for name in df.columns}

{'age': 73,
 'capital_gain': 120,
 'capital_loss': 93,
 'education': 17,
 'education_num': 17,
 'fnlwgt': 21648,
 'hours_per_week': 95,
 'label': 3,
 'martial_status': 8,
 'native_country': 42,
 'occupation': 16,
 'race': 6,
 'relationship': 7,
 'sex': 3,
 'workclass': 10}

In [26]:
df.head()

,age,workclass,fnlwgt,education,education_num,martial_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K